<div id="header" style="position:relative"><div id="nav" style="float:right; margin-top:10px; margin-right:10px">
        <% if current_student %>
        <%= link_to "Edit Profile", edit_student_path(current_student.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>

        <% if current_teacher %>
        <%= link_to "Edit Profile", edit_teacher_path(current_teacher.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>

        <% if current_cashier %>
        <%= link_to "Edit Profile", edit_cashier_path(current_cashier.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>
        <% end %>
        <% end %>
     
        <% end %>
    </div><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1><br><br><br> &nbspPamplona Branch
<h1>Student Transaction</h1><br><br>
<table class="bordered"> 
<% @a.each do |transaction| %>	
  <tr>
    <th>Transaction id: </th><th><%= transaction.id %></th>
    <th>School Year: </th><th><%= transaction.sy %></th>
    <th>Student number: </th><th><%= transaction.student.studinfo.studnum %></th>
    <th>Student name: </th>  <th><%= transaction.student.studinfo.fullname %></th>
    <th>Total Amount: </th><th><% @total=transaction.subjectamount+transaction.miscamount %><%=@total%></th>
    <th>Paid Amount: </th> <th><%= transaction.paidamount %></th>  
    </tr>    
  <% end %>
   </table>


   <table class="bordered" style="text-align:center;">
  <tr>
    <th>Payment Id</th>
    <th>Amount Paid</th>
    <th>Date</th>
    <th>Cashier</th>
 
   
  </tr>

<% @payments.each do |payment| %>
	
  <tr>
    <td><%= payment.id %></td>
    <td><%= payment.amount %></td>
    <td><%= payment.created_at %></td>
    <td><% cash= Cashier.find(payment.cashier_id) %><%=cash.fullname  %></td><td><% cash= Cashier.find(payment.cashier_id) %><%=cash.fullname  %></td>
    </tr>
    
  <% end %>
   </table><BR><BR>

<%= form_tag("assestmentcatcher", :method =>"post",:style=>"float:right") do %>
<%= label_tag(:amount, "INPUT AMOUNT TO BE PAID ") %>
<%= text_field_tag(:amount) %>
<%= hidden_field_tag(:studid ,@student.id) %>
<%= submit_tag("ADD",:class=>"button") %>
<%end%>

