<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1><br><br><br> &nbspPamplona Branch
</div>
</div>

<h1>Listing miscellaneous</h1>
<br/>

<table class="bordered">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @miscellaneous.each do |miscellaneou| %>
  <tr>
    <td><%= miscellaneou.name %></td>
    <td><%= miscellaneou.amount %></td>
    <td><%= link_to 'Show', miscellaneou %></td>
    <td><%= link_to 'Edit', edit_miscellaneou_path(miscellaneou) %></td>
    <td><%= link_to 'Destroy', miscellaneou, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Miscellaneous', new_miscellaneou_path %>
