<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1><br><br><br> &nbspPamplona Branch
</div>
</div>
<h1>Listing subjects</h1>
<br><br>
<table class="bordered">
  <tr>
    <th>Schdcode</th>
    <th>Subjcode</th>
    <th>Description</th>
    <th>Days</th>
    <th>Time1</th>
    <th>Time2</th>
    <th>Room</th>
    
    <th>Level</th>
    <th>Block</th>
    <th>Amount</th>
    <th>Teacher name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.schdcode %></td>
    <td><%= subject.subjcode %></td>
    <td><%= subject.description %></td>
    <td><%= subject.days %></td>
    <td><%= subject.time1 %></td>
    <td><%= subject.time2 %></td>
    <td><%= subject.room %></td>
    
    <td><%= subject.level %></td>
    <td><%= subject.block %></td>
    <td><%= subject.amount %></td>
    <td><%=subject.teacher.fullname %></td>
    
    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
 | 
<%=link_to 'Home', admin_home_path %>
