<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1><br><br><br> &nbspPamplona Branch
</div>
</div>
<p id="notice"><%= notice %></p>
<div align="center">
<table border="1" style="width:500px; margin-top:100px; background:#C2A3A3;">

<th><b>Subjcode: </b></th>
<td><%= @subject.subjcode %></td></tr>
<tr><th><b>Subjcode: </b></th>
<td><%= @subject.description %></td>
</tr>
<tr><th>Days: </b></th>
<td><%= @subject.days %></td></tr>
<tr><th><b>Time1: </b></th>
<td><%= @subject.time1 %></td></tr>
<tr><th><b>Time2: </b></th>
<td><%= @subject.time2 %></td></tr>
<tr><th><b>Room: </b></th>
<td><%= @subject.room %></td></tr>
<tr><th><b>Level: </b></th>
<td><%= @subject.level %></td></tr>
<tr><th><b>Block: </b></th>
<td><%= @subject.block %></td></tr>
<tr><th><b>Amount:</b></th>
<td><%= @subject.amount %></td></tr>
<tr><th><b>Teacher: </b></th>
<td><%= @subject.teacher.fullname %></td></tr>
</table>


<%= link_to 'Edit', edit_subject_path(@subject),:class=>"button" ,:style=>"color:white; margin-left:310px" %> 
<%= link_to 'Back', subjects_path ,:class=>"button" ,:style=>"color:white; margin-left:10px" %>
</div>