<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @administrator.username %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @administrator.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @administrator.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @administrator.persistence_token %>
</p>


<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
