<!DOCTYPE html>
<html>
<head>
  <title>Sfacs</title>
  <%= stylesheet_link_tag    "application", "token-input" %>
  <%= stylesheet_link_tag    "style3", "style" %>
  <%= stylesheet_link_tag    "red" %>
  <%= stylesheet_link_tag "jquery.autocomplete" %>
  <%= javascript_include_tag "application", "jquery.formvalidator", "jquery.formvalidator.min" %>
  <%= javascript_include_tag "jquery" %>
  
  <%= javascript_include_tag "jquery.autocomplete", "jquery.tokeninput" %>
  
  

 
  <%= csrf_meta_tags %>
</head>
<body>

 

<%= yield %>

</body>
</html>